<div class="mat-elevation-z8">
  <table mat-table [dataSource]="datasource">
    <!-- model_name Column -->
    <ng-container matColumnDef="model_name">
      <th mat-header-cell *matHeaderCellDef>Model Name</th>
      <td mat-cell *matCellDef="let element">{{ element.model_name }}</td>
    </ng-container>

    <!-- accuracy Column -->
    <ng-container matColumnDef="accuracy">
      <th mat-header-cell *matHeaderCellDef>Accuracy</th>
      <td mat-cell *matCellDef="let element">{{ element.accuracy }}</td>
    </ng-container>

    <!-- precision Column -->
    <ng-container matColumnDef="precision">
      <th mat-header-cell *matHeaderCellDef>Precision</th>
      <td mat-cell *matCellDef="let element">{{ element.precision }}</td>
    </ng-container>

    <!-- recall Column -->
    <ng-container matColumnDef="recall">
      <th mat-header-cell *matHeaderCellDef>Recall</th>
      <td mat-cell *matCellDef="let element">{{ element.recall }}</td>
    </ng-container>

    <!-- f1_score Column -->
    <ng-container matColumnDef="f1_score">
      <th mat-header-cell *matHeaderCellDef>F1 Score</th>
      <td mat-cell *matCellDef="let element">{{ element.f1_score }}</td>
    </ng-container>

    <!-- confusion_matrix Column -->
    <ng-container matColumnDef="confusion_matrix">
      <th mat-header-cell *matHeaderCellDef>Confusion Matrix</th>
      <td mat-cell *matCellDef="let element">{{ element.confusion_matrix }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
